@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background: #F8F8F8 !important;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

